
<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
 
</head>
 
<body>
    <center>

      <h1>Register Page</h1>
    <form action="/register" method="post">
       
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
          <br/>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <br/>
      
          <button type="submit">Register</button>
        </div>
      
      </form>
      <% if (message) { %>
        <h2><%= message %></h2>
    <% } %><br/>
      <a href="/login">
        Click Here to Login
   </a>
    </center>
</body>
</html>